footer {
    position: absolute;
    bottom: 0;
    width: 100%;

  background-color: #313131;
  padding: 0.5rem 0;

  font-size: 0.8rem;
  // font-size: 90%;
  color: $gray-300;

  z-index: $z-footer;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $gray-700;
  }

  a {
    color: $gray-300;

    display: block;
    padding: 1rem;

    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $gray-300;
      text-decoration: none;
      // font-weight: bold;
    }
  }

  ul {
    li {
      float: left;
      margin: 0 1rem 0 0;
      text-transform: uppercase;

      a {    
        line-height: 1.75;        
      }
    }
  }

  .brand {    
    text-align: center;

    color: #fff;

    .logo {

      padding-left: 0;

      img {
        max-width: 100%;
        max-height: $navbar-logo-height;
      }
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  .links {
    display: flex;
    // font-size: 0.8rem;

    ul {
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      ul {
        margin: 0 0 0 auto;
      }
    }
  }

  .social {
    
    display: flex;

    ul {
      margin: 0 auto;

      li {
        margin: 0;
        
        a {
          font-size: 140%;
          line-height: 1;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  
    @include media-breakpoint-up(lg) {
      ul {
        margin: 0 0 0 auto;
      }
    }
  }
}