.pricing {
  @at-root {
    body#{&} {
      #app-header {
        background-color: pablo-pink-light;
      }

      .navbar-main {
        background-color: pablo-pink-light;

        &.nav-scrolled {
          background-color: $navbar-bg-col;
        }
      }
    }
  }

  .hero-wrap {
    // background-color: pablo-pink-light;

    // background-image: url("../invoicino/static/img/pricing.svg");
    // background-repeat: no-repeat;
    // background-position: bottom;
  }

  .hero-section {
    background-color: pablo-pink-light;

    padding: 5rem 3rem;
    text-align: center;

    .hero-title {
      font-size: 3rem;
      line-height: 1;

      h1 {
        margin-bottom: 0;
        line-height: 1.2;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .table-section {
    background-color: pablo-pink-light;

    // background-image: url("../pablo/static/img/pricing/table.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 500px auto;

    @include media-breakpoint-down(md) {
      background-image: none;
      padding-bottom: 2rem;
      // border: 3px solid red;
    }

    @include media-breakpoint-up(lg) {
      background-size: 980px auto;
      padding-top: 0rem;
      padding-bottom: 6.5rem;
      // border: 3px solid green;
    }

    @include media-breakpoint-up(xl) {
      background-size: 1200px auto;
      padding-top: 2rem;
      padding-bottom: 6rem;
      // border: 3px solid yellow;
    }

    .inner {
      margin: 0 auto;
      padding: 2rem 1rem 2rem 1rem;
      width: 20rem;

      text-align: center;

      // @include media-breakpoint-down(sm) {
      //   padding-top: 0;
      // }

      @include media-breakpoint-down(md) {
        background-color: #fff;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      h2 {
        font-size: 4rem;
        font-weight: bold;
      }
    }
  }

  .included-section {
    background-color: $body-bg;

    // background-image: url("../invoicino/static/img/pricing/curve.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;

    padding-top: 7rem;

    ul {
      list-style: none;
      padding-left: 0;

      font-size: 1.5rem;

      li {
        margin: 0 0 1rem 0;
        padding: 0.5rem 0.5rem 0.5rem 4rem;

        background-image: url('../invoicino/static/img/pricing/check.svg');
        background-repeat: no-repeat;
        background-position: 0;
        // background-size: 2rem;

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        // font-size: 2rem;

        li {
          padding: 1rem 1rem 1rem 4rem;
        }
      }
    }
  }
}
