.sign-up {
  $bg-col: rgb(234, 244, 255);

  @at-root {
    body#{&} {

      background-color: $bg-col;

      #app-header {
        background-color: $bg-col;
      }
    }
  }

  .hero-section {
    font-size: 3rem;

    .countdown-wrap {
      
    }

    h1 {
      margin-top: 3rem;
    }
  }

  .syotimer {
    max-width: 47rem;
    margin: 0 auto;
    
      &::after {
        content: '';
        clear: both;
        float: none;
      }

    .syotimer__body {   
      &::after {
        content: '';
        clear: both;
        float: none;
      }
    }

    .syotimer-cell {
      float: left;
      padding-right: 2rem;

      // > div {
      //   float: left;
      // }
      
      .syotimer-cell__value {
        border-bottom: 0.2rem solid $primary;
        color: $secondary;
      }

      .syotimer-cell__unit {
        text-transform: uppercase;
        font-weight: 100;
        color: $primary;
      }
    }
  }

  .table-section {
    
    background-color: $bg-col;

    > .container {

      background-image: url("../invoicino/static/img/pricing.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      // background-size: 1100px auto;
      background-size: 20%;
    }

    // height: 36rem;
    // padding-bottom: 10rem;

    padding-bottom: 4rem;

    .inner {
        margin: 0 auto;
        padding: 7rem 1rem 0 1rem;
        width: 20rem;

        text-align: center;

        h2 {
            font-size: 4rem;
            font-weight: bold;
        }
    }
  }

  .included-section {
    background-color: #fff;

    // background-image: url("../invoicino/static/img/pricing/curve.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;

    padding-top: 10rem;

    ul {
      list-style: none;
      padding-left: 0;

      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      font-size: 2rem;

      li {
        margin: 0 0 1rem 0;
        padding: 1rem 1rem 1rem 4rem;

        background-image: url("../invoicino/static/img/pricing/check.svg");
        background-repeat: no-repeat;
        background-position: 0;
        // background-size: 1rem;

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}